.inner-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(177, 189, 202);
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px;
  margin: 35px auto;
  width: 80vw;
}

.id {
  align-self: flex-end;
  opacity: 0.4;
  font-weight: 600;
}

.cross-sign,
.edit-sign {
  align-self: flex-end;
  transition: opacity 0.5s;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cross-sign:hover,
.edit-sign:hover {
  cursor: pointer;
  opacity: 0.6;
}

.edit-sign {
  color: red;
  font-size: 19px;
  margin-right: 15px;
}

.sign-box {
  display: flex;
  align-self: flex-end;
}
