.form-box {
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 15px 0;
  padding: 3px 5px;
}

ul {
  list-style: none;
}

li {
  font-weight: 600;
}

.isntAvaliable {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  cursor: not-allowed;
}
.avaliable {
  background-color: rgb(181, 33, 33);
  color: linen;
  opacity: 1;
  cursor: pointer;
}
