div {
  margin: 100px 0;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 6px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}
